COMFYUI_API_COMFYUI_BASE_URL=http://127.0.0.1:8188
COMFYUI_API_API_KEY=dev-key
COMFYUI_API_API_HOST=0.0.0.0
COMFYUI_API_API_PORT=8888
COMFYUI_API_DEFAULT_WORKFLOW_ID=flux-dev-simple
# COMFYUI_API_DEFAULT_CHECKPOINT_NAME=Comfy-Org--flux1-dev/flux1-dev-fp8.safetensors
COMFYUI_API_MAX_PENDING_JOBS=5
COMFYUI_API_WAIT_TIMEOUT_SECONDS=900
COMFYUI_API_POLL_INTERVAL_SECONDS=0.5
