https://{$CADDY_HOSTNAME}:8443 {
    tls {$CADDY_EMAIL}
    encode gzip

    # If the request contains the correct Authorization header, forward it
    handle @authHeader {
        reverse_proxy comfyapi:8888
    }

    # Otherwise, respond with a 401 Unauthorized message
    handle {
        respond "Unauthorized" 401
    }

    # Define the matcher for the Authorization header
    @authHeader {
        header Authorization "Bearer {$COMFYUI_IMAGE_API_KEY}"
    }
}
