recursive-include src/comfyui_api/Templates *.yaml
recursive-include src/comfyui_api/Templates/Workflow_api_json *.json
recursive-include src/comfyui_api/Schema *.json
recursive-include src/comfyui_api/Registry *.yaml
